.icon-grid-viz {
	font-family: "Nunito", sans-serif;
	font-size: 1em;
}

.icon-grid-viz .chart-tooltip {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	padding: 0.25em 0.5em;
	border-width: 2px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.9);
	pointer-events: none;
	opacity: 0;
}
